doctype html
html
  head
    title= title
    script(src="./global/vendor/traceur.js")
    script(src="./global/vendor/system.js")
    script(src="./global/vendor/angular2.min.js")
    link(href="./build/home/styles/home-app.min.css" rel="stylesheet")

  body
   h1= title
   p Welcome to #{title} monther face chode
   app
   script.
     System.import('./build/home/scripts/bootstrap.js');